.conteneur{
    display:flex;
    flex-direction: row;
    /*felx-direction:row par defaut*/
    margin-bottom: 30px;
    justify-content: center;
    border: 1px dashed #000;

}
.truc,.chose {
    flex-grow: 0;
}
p.machine{
    flex-grow: 1;
}
p.bidule{
    flex-shrink: 1;
}
.conteneur2{
    display:flex;
    flex-direction: row;
    height:50px;
    border:dashed 1px red;
    
}

.conteneur3{
    display:flex;
    flex-direction: row;
    height:50px;
    justify-content: space-between;
    border:dashed 1px green;
}

/*flex-flow:colum wrap;*/
p.bloc{
    background-color: aqua;
    border:1px solid black;
    
}