#conteneur{
    margin:0 auto;
    max-width: 980px;
}
header{
    display: flex;
    flex-direction: column;
}
nav, main {
    display: flex;

}
nav {
    justify-content: space-around;
}
#droite, #gauche{
    flex:0 0 30%;
    margin-left: 20px;
}
footer{
    display: flex;
    justify-content: center;
}

header, nav, #gauche, section, #droite, footer{
    padding: 5px;
}
header, footer{
    background-color: bisque;
    color:#fff
}
nav{
    background-color: #aaa;
}
nav a {
    text-decoration: none;
    color:#000;
}
nav a:hover{
    color:#fff;

}
#gauche, #droite{
    background-color: #eee;
}
#gauche a, #droite a {
    text-decoration: none;
    color:#000;
}
h1, h2, h3{
    margin: auto;
}
